form{
    border-radius: 4px;
}
form h2{
    font-size: 40px;
}
button{
    font-size: 15px;
}
label.error{
    display: block;
    font-size: 14px;
    color: #f00;
}
input.form-control.error{
    border-color: #f00;
}